@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1080px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
}

header h1 {
  width: 136px;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  color: #333333;
  margin-right: 35px;
  font-weight: bold;
}

.header-entry {
  margin-right: 0;
  color: #FF7166;
  border: 2px solid #FF7166;
  border-radius: 18px;
  width: 121px;
  text-align: center;
}

.header-entry a {
  color: #FF7166;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'YuGothic','ヒラギノ角ゴ ProN';
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  /* 16px*/
}

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.footer {
  margin: 0 auto;
  max-width: 100%;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tell, .mail {
  width: 50%;
  height: 140px;
}

.mail {
  background: -webkit-gradient(linear, right top, left top, from(#FF7166), to(#FF9933));
  background: linear-gradient(to left, #FF7166, #FF9933);
}

.mail p {
  color: #fff;
}

.tell-content, .mail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px auto;
  width: 50%;
}

.tell-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tell-img {
  width: 70px;
  height: 70px;
}

.tell-img img {
  width: 100%;
  position: relative;
  right: 24px;
}

.mail-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mail-img {
  width: 70px;
}

.mail-img img {
  width: 100%;
  position: relative;
  right: 24px;
}

.footer-top-1 {
  font-weight: bold;
  font-size: 16px;
  width: 176px;
}

.footer-top-2 {
  font-weight: bold;
  font-size: 28px;
  width: 201px;
}

.footer-top-3 {
  font-weight: bold;
  font-size: 20px;
}

.footer-bottom {
  background-color: #F5F5F5;
}

.footer-bottom1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left {
  width: 136px;
}

.footer-left img {
  margin-top: 25px;
}

.footer-left p {
  font-size: 16px;
  width: 213px;
  margin-bottom: 22px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.fa {
  width: 40px;
}

i {
  color: #FF7166;
}

.fab {
  width: 100%;
}

.copy {
  font-size: 14px;
  text-align: center;
  padding-bottom: 9px;
}

@media screen and (max-width: 768px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tell, .mail {
    width: 100%;
  }
  .tell-content {
    padding-left: 0;
  }
  .mail-content {
    padding-right: 0;
  }
  .footer-bottom1 {
    display: block;
    padding: 0 50px;
  }
  .footer-right {
    margin-top: 0;
  }
}

.mv {
  margin: 0 auto;
  width: 1080px;
  max-width: 100%;
}

.mv-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mv-left {
  width: 44%;
  z-index: 2;
  -webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16);
}

.mv-left img {
  width: 100%;
}

.mv-right {
  max-width: 100%;
  width: 770px;
  background-color: #F5F5F5;
  padding: 36px 36px 36px 0;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 315px;
}

.mv-txt {
  margin: 0 0 0 auto;
  width: 516px;
}

.mv-txt h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.ceo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  margin-top: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.ceo-type {
  margin-right: 20px;
}

.ceo-name {
  font-size: 26px;
}

@media screen and (max-width: 1024px) {
  .mv-right {
    padding: 36px 5px;
  }
}

@media screen and (max-width: 767px) {
  .mv-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
  }
  .mv-right {
    position: static;
    max-width: 100%;
    padding: 80px 15px;
  }
  .mv-left {
    width: 87%;
  }
}

.nav {
  display: block;
}

.nav-top {
  max-width: 100%;
  height: 100px;
  margin-bottom: 13px;
  background: -webkit-gradient(linear, right top, left top, from(#FF7166), to(#FF9933));
  background: linear-gradient(to left, #FF7166, #FF9933);
}

.nav-top h2 {
  color: #fff;
  padding: 0 100px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 100px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  margin-bottom: 100px;
}

.category a {
  color: #AAAAAA;
  font-size: 1.4rem;
}

@media screen and (max-width: 1080px) {
  .nav-top {
    padding: 0 15px;
  }
  .nav-top h2 {
    padding: 0;
  }
  .category {
    padding: 0 15px;
  }
}

.heading h2 {
  font-size: 3.6rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 150px 0 50px 0;
}

.about-box {
  width: 800px;
  margin: 0 auto 120px auto;
  border: 1px solid #D8D8D8;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 0 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  margin-right: 100px;
  font-weight: bold;
}

.service {
  height: 200px;
}

.address-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  height: 360px;
  display: block;
}

iframe {
  margin: 17px 0 17px 145px;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 0 15px;
  }
  .heading h2 {
    padding-top: 75px;
  }
  .about-box {
    margin: 0;
    max-width: 100%;
  }
  .about-content {
    padding: 0 15px;
  }
  .name {
    margin-right: 16px;
  }
  .address {
    height: 250px;
  }
  iframe {
    margin: 26px 0 56px 55px;
    width: 200px;
    height: 146px;
  }
  .service {
    height: 284px;
  }
  .service-content {
    height: 72px;
    line-height: 100%;
  }
}
/*# sourceMappingURL=app.css.map */