@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1080px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
}

header h1 img {
  width: 23%;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  color: #333333;
  margin-right: 35px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.header-entry {
  margin-right: 0;
  color: #FF7166;
  border: 2px solid #FF7166;
  border-radius: 18px;
  width: 121px;
  text-align: center;
}

.header-entry a {
  color: #FF7166;
  margin: 0 auto;
}

.l-header {
  display: none;
}

@media screen and (max-width: 767px) {
  /*ヘッダー*/
  header {
    display: none;
  }
  header a {
    margin-right: 0;
  }
  .l-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
  }
  /*ドロワー*/
  .l-drawer {
    position: relative;
  }
  .l-drawer__checkbox {
    display: none;
  }
  .l-drawer__icon {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
  }
  .l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
    background-color: #FF7166;
    display: block;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
    content: " ";
  }
  .l-drawer__icon-parts:before {
    top: 16px;
  }
  .l-drawer__icon-parts:after {
    top: -16px;
  }
  .l-drawer__overlay {
    background: #000;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
  .l-drawer__menu {
    background: #ffffff;
    color: #333333;
    max-width: 100%;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    right: -300px;
  }
  .l-drawer__icon {
    z-index: 4;
  }
  .l-drawer__menu {
    z-index: 3;
  }
  .l-drawer__overlay {
    z-index: 2;
  }
  .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
    background: transparent;
    color: #FF7166;
  }
  .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
  }
  .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
  }
  .l-drawer__checkbox:checked ~ .l-drawer__overlay {
    opacity: 0.3;
    pointer-events: auto;
  }
  .l-drawer__checkbox:checked ~ .l-drawer__menu {
    right: 0;
  }
  .l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
    -webkit-transition: all .7s;
    transition: all .7s;
  }
  .l-drawer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-drawer .items {
    position: relative;
    top: 30px;
    padding-left: 140px;
  }
  .l-drawer ul {
    list-style: none;
    padding: 15px;
  }
  .l-drawer li {
    margin-bottom: 35px;
    text-align: right;
  }
  .l-drawer a {
    text-decoration: none;
    text-align: right;
  }
  .l-drawer .header-entry {
    margin: 0 0 0 auto;
  }
  .l-drawer .header-entry li {
    margin-bottom: 0;
    text-align: center;
  }
  .l-drawer .header-entry a {
    text-align: right;
  }
}
/*# sourceMappingURL=app.css.map */