.interview {
    padding: 0 100px;
}
.interview-inner {
    margin: 0 auto;   
    padding: 0 95px;
    display: flex;
    justify-content: space-between;
}

.heading  {
    margin-top: 120px;
    img {
        width: 34%;
    }
    p {
        font-size: 18px;
        color: #555555;
    }
}

.interview-card {
    width: 280px;
    height: 470px;
    @include shadow;
}
.type {
    width: 120px;
    height: 37px;
    float: right;
    position: relative;
    bottom: 30px;
    margin: auto;
    @include background;

    p {
        color: $white;
        text-align: center;

    }
}

.interview-detail {
    margin-left: 14px;

    .when {
        color: #868686;
        font-size: 14px;
        font-weight: bold;
        margin-top: 21px;
    }
    .name1 {
        color: #333333;
        font-size: 20px;
        font-weight: bold;
        margin-top: 18px;
    }
    .name2 {
        color: $point-color;
        font-size: 14px;
        font-weight: bold;
    }
}

.interview1 {
    margin-top: 135px;
}
.interview2 {
    margin-top: 85px;
}
.interview3 {
    margin-top: 35px;
}
