


.mv {
    background-image: url('../img/mv.jpg');
    background-size: cover;
    width: 1080px;
    height: 610px;
    background-repeat: no-repeat;
    margin-left: 195px;
}

.mv-txt {
    position: relative;
    top: 85px;
    right: 100px;
    img {
        width: 40%;
    }
    p {
        font-size: 30px;
        font-weight: bold;
    }
}

.mv-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    top: 221px;
    right: 78px;
}
.mv-box {
    width: 200px;
    height: 90px;
    text-align: center;
    color: $white;
    position: relative;
    a {
        @include link;
    }
    
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 14px;
    }
}
.mv-box-txt {
    @include center;
}
.mv1 {
    background-color: #FF9933;
}
.mv2 {
    background-color: #FF8B66;
}
.mv3 {
    background-color: #FF7E66;
}
.mv4 {
    background-color: #FF7166;
}



// company

.company {
    margin-bottom: 120px;
    h2 {
        margin: 130px 0 50px 0;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }
}
.company-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 64px;
    width: 1080px;

    img {
        width: 22%;
        height: 91px;
    }
}



// point

.points {
    background-color: $grey;
    height: 497px;
    padding: 0;
    margin: 0;
}
.point-inner {
    padding: 90px 78px 0 78px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}
.point {
    width: 276px;
    height: 259px;
    background-color: $white;
    text-align: center;
    img {
        width: 27%;
        height: 120px;
        margin: 31px 0;
    }
    p {
        font-size: 16px;
    }
}


.more {
    width: 155px;
    height: 48px;
    font-size: 16px;
    margin: 40px auto 0 auto;
    border-radius: 24px;
    text-align: center;
    @include background;

    a {
        color: $white;
        font-size: 16px;
        font-weight: bold;
        margin: 5px auto;
        
    }
}



