

.mission-inner {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto;
}

.mission-left {
    width: 514px;
    height: 349px;
    position: relative;
    left: 100px;
    z-index: 2;
    @include background;
    p {
        color: $white;    
    }
    .mission-ttl {
        font-size: 24px;
        font-family: "Hiragino Kaku Gothic ProN";
        font-weight: bold;
        margin: 59px 0 32px 44px;
    }
    .mission-txt {
        font-size: 16px;
        margin: 0 42px;
    }
}

.mission-right img {
    width: 707px;
    z-index: 1;
    position: relative;
    right: 100px;
}


@media screen and (max-width: 1080px) {
    

}