.news {
    height: 788px;
    background-color: $grey;
    padding: 0 100px;
}
.news-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1080px;
}

// .news-heading img {
//     margin-top: 90px;
// }

.news-card {
    width: 330px;
    height: 303px;
    background-color: $white;
    position: relative;
    @include shadow;

    img {
        margin: 15px;
        width: 300px;
        height: 200px;
    }
    a {
        @include link;
    }
}
.card-top {
    position: relative;

    p {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 82px;
        height: 20px;
        background-color: #FF9933;
        color: $white;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }

}
.news-detail {
    margin-left: 15px;

    .news-time {
        color: $base-color;
        font-size: 14px;
    }
    .news-txt {
        color: #090803;
        font-weight: bold;
        font-size: 18px;
    }
}

.news3 {
    height: 335px;
}