@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0; }

.container {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px; }
  header h1 {
    width: 136px; }
  header .header-right {
    display: flex; }
  header a {
    color: #333333;
    margin-right: 35px;
    font-weight: bold; }

.header-entry {
  margin-right: 0;
  color: #FF7166;
  border: 2px solid #FF7166;
  border-radius: 18px;
  width: 121px;
  text-align: center; }
  .header-entry a {
    color: #FF7166;
    margin: 0 auto; }

body {
  font-family: 'YuGothic','ヒラギノ角ゴ ProN';
  color: #333333;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%; }

a {
  list-style: none;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.heading {
  margin-top: 120px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto; }
  .heading p {
    font-size: 18px;
    color: #555555; }

.interview-heading img {
  width: 39%; }

.mission-heading img {
  width: 63%; }

.news-heading img {
  width: 23%;
  margin-top: 90px; }

hr {
  border: 1px solid #B1B1B1;
  margin: 0;
  width: 100%; }

.mv-top {
  display: flex;
  background-image: url("../img/mv.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 0 0 auto;
  width: 84%;
  height: 610px; }

.mv-txt {
  position: relative;
  right: 100px;
  top: 85px; }
  .mv-txt img {
    width: 45%; }
  .mv-txt p {
    font-size: 30px;
    font-weight: bold; }

.mv-img {
  z-index: 1; }

.mv-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.mv-box {
  width: 200px;
  height: 90px;
  text-align: center;
  color: #fff;
  position: relative; }
  .mv-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .mv-box h3 {
    font-size: 22px; }
  .mv-box p {
    font-size: 14px; }

.mv-box-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.mv1 {
  background-color: #FF9933; }

.mv2 {
  background-color: #FF8B66; }

.mv3 {
  background-color: #FF7E66; }

.mv4 {
  background-color: #FF7166; }

.company {
  margin-bottom: 120px; }
  .company h2 {
    margin: 130px 0 50px 0;
    text-align: center;
    font-size: 28px;
    font-weight: bold; }

.company-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 64px;
  width: 1080px; }
  .company-inner img {
    width: 22%;
    height: 91px; }

.points {
  background-color: #F5F5F5;
  height: 497px;
  padding: 0 100px;
  margin: 0; }

.point-inner {
  padding: 90px 78px 0 78px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

.point {
  width: 276px;
  height: 259px;
  background-color: #fff;
  text-align: center; }
  .point img {
    margin: 31px 0; }
  .point p {
    font-size: 16px; }

.point1 img {
  width: 27%; }

.point2 img {
  width: 32%; }

.point3 img {
  width: 31%; }

.more {
  width: 155px;
  height: 48px;
  font-size: 16px;
  margin: 40px auto 0 auto;
  border-radius: 24px;
  align-items: center;
  display: flex;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .more a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 5px auto; }

@media screen and (max-width: 766px) {
  .mv-top {
    background-image: url("../img/mv-sp.jpg"); } }
.interview {
  padding: 0 100px; }

.interview-inner {
  margin: 0 auto;
  padding: 0 95px;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%; }

.interview-card {
  width: 280px;
  height: 470px;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }

.type {
  width: 120px;
  height: 37px;
  float: right;
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .type p {
    color: #fff;
    margin: 0 auto; }

.interview-detail {
  margin-left: 14px; }
  .interview-detail .when {
    color: #868686;
    font-size: 14px;
    font-weight: bold;
    margin-top: 21px; }
  .interview-detail .name1 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px; }
  .interview-detail .name2 {
    color: #FF7166;
    font-size: 14px;
    font-weight: bold; }

.interview1 {
  margin-top: 135px; }

.interview2 {
  margin-top: 85px; }

.interview3 {
  margin-top: 35px; }

@media screen and (max-width: 1080px) {
  .interview-inner {
    padding: 0; } }
.mission-inner {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
  margin: 0 auto; }

.mission-left {
  width: 514px;
  height: 349px;
  position: relative;
  left: 100px;
  z-index: 2;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .mission-left p {
    color: #fff; }
  .mission-left .mission-ttl {
    font-size: 24px;
    font-family: "Hiragino Kaku Gothic ProN";
    font-weight: bold;
    margin: 59px 0 32px 44px; }
  .mission-left .mission-txt {
    font-size: 16px;
    margin: 0 42px; }

.mission-right img {
  width: 707px;
  z-index: 1;
  position: relative;
  right: 100px; }

.news {
  height: 788px;
  background-color: #F5F5F5;
  padding: 0 100px; }

.news-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1080px; }

.news-card {
  width: 330px;
  height: 303px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }
  .news-card img {
    margin: 15px;
    width: 300px;
    height: 200px; }
  .news-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.card-top {
  position: relative; }
  .card-top p {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 82px;
    height: 20px;
    background-color: #FF9933;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold; }

.news-detail {
  margin-left: 15px; }
  .news-detail .news-time {
    color: #333333;
    font-size: 14px; }
  .news-detail .news-txt {
    color: #090803;
    font-weight: bold;
    font-size: 18px; }

.news3 {
  height: 335px; }

.contact {
  margin-top: 120px; }

.contact-inner {
  margin: 0 auto 120px auto;
  display: flex;
  justify-content: space-between;
  width: 1080px; }
  .contact-inner img {
    width: 500px;
    z-index: 1; }

.contact-left {
  position: relative; }

.contact-detail {
  width: 382px;
  height: 186px;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }

.contact-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center; }

.office-name {
  font-size: 18px;
  color: #333333;
  font-weight: bold; }

.office-address {
  font-size: 14px;
  color: #333333;
  font-weight: bold; }

.contact-bottom {
  display: flex;
  justify-content: space-between; }

.tell, .mail {
  width: 50%;
  height: 140px;
  position: relative; }
  .tell img, .mail img {
    width: 70px;
    margin-right: 24px; }

.mail {
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .mail p {
    color: #fff; }

.tell-content, .mail-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex; }

.bottom-txt-1 {
  font-weight: bold;
  font-size: 16px;
  width: 176px; }

.bottom-txt-2 {
  font-weight: bold;
  font-size: 28px;
  width: 201px; }

.bottom-txt-3 {
  font-weight: bold;
  font-size: 20px; }

footer {
  height: 169px;
  background-color: #F5F5F5;
  width: 100%;
  padding: 0 100px; }

.footer {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.footer-left {
  width: 136px; }
  .footer-left img {
    margin-top: 25px; }
  .footer-left p {
    font-size: 16px;
    width: 213px; }

.footer-right {
  display: flex;
  margin-top: 50px; }
  .footer-right i {
    color: #FF7166; }
  .footer-right .fab {
    width: 40px; }

.copy {
  font-size: 14px;
  text-align: center;
  margin-top: 22px; }

/*# sourceMappingURL=styles.css.map */
